@mixin flexible( $a, $b, $c, $d, $e ){
	display: flex;
	flex-flow: $a $b;
	justify-content: $c;
	align-items: $d;
	align-content: $e;
}



// $breakpoint-xs: 360px;
// $breakpoint-sm: 767px;
// $breakpoint-lg: 1360px;
// // $breakpoint-md: 1025px;

// @mixin media($media) {
//   @if $media == xs {
//     @media (max-width: $breakpoint-sm) { @content; }
//   }
//   @else if $media == sm {
//     @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) { @content; }
//   }
//   // @else if $media == md {
//   //   @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
//   // }
//   @else if $media == lg {
//     @media (min-width: $breakpoint-lg) { @content; }
//   }
// }




* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
  img {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  a {
    display: flex;
    text-decoration: none;
    color: inherit;
  }
  video {
    display: flex;
    object-fit: cover;
    object-position: center center;
  }
  audio {
    display: flex;
  }
  p a {
    display: inline;
  }
  li {
    list-style-type: none;
  }
  table,
  tr,
  td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font:normal normal normal 100% / 140% Fakt Pro Medium, 'Roboto', sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
  }
  form {
    input,
    textarea,
    select {
      font: inherit;
      hyphens: auto;
      background-color: transparent;
      appearance: none;
      display: block;
    }
  }

  







////////////////////////////////////////////////////////////

body{
  line-height: 1.2em;




}

.header{
  padding: 0 5em;
  @media only screen and (max-width: 550px){
    padding: 0 1em;

  } 
}

.menu{
  width: 100%;
  max-width: 1400px;
  margin: auto;


  &__desk{
    position: relative;
    width: 100%;
  }
  &__logo{

    font-family: 'Playfair Display', serif;
    font-size: 1.5em;

    transition: all .5s ease-out;
    position: absolute;
    left: 0;
    top: 4vh;
    z-index: 1000;
  }

  &__logo.active{

    color: white;
    z-index: 600;
  }
  &__hamb{
    width: 44px;
    height: 44px;
    padding: 12px;

    border: solid 1px #999999;
    border-radius: .1em;

    position: absolute;
    right: 0;
    top: 3vh;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-content: space-between;
    align-items: stretch;

    cursor: pointer;
    z-index: 600;
  }
  &__line{
    width: 1em;
    height: 2px;
    background-color: black;
    transition: all .5s ease-out;

  }
  &__hamb.active .menu__line{
    background-color: #c9c9c9
  }
  &__line:nth-child(1){
    width: 100%;
    z-index: 10;
  }

  &__hamb.active .menu__line:nth-child(1){
    transform: rotate(-45deg);
    transform-origin: right;
  }
  &__line:nth-child(2){
    width: 60%;
    top: 0;

  }

  &__hamb.active .menu__line:nth-child(2){
    transform: rotate(45deg);
    transform-origin: right;
  }
  &__line:nth-child(3){

    width: 30%;
    bottom: 25%;
    align-self: flex-end;

  }
  &__hamb.active .menu__line:nth-child(3){
    transform: rotate(45deg);
    transform-origin: right;
  }



  &__vh{ 
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0%;
    background-color: #000000;
    z-index: 500;
    transition: all .5s ease-out;
  

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    overflow: hidden;
  }

  &__vh.active{ 
    width: 100%;
    padding: 0 5em;
    @media only screen and (max-width: 550px){
      padding: 0 1em;
    }

  }


  &__mega{
    width: 100%;
    height: 85%;
    max-width: 1400px;
    padding: 15vh 0 2em;
    margin: auto;
    // background-color: blue;
    
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    justify-items: flex-start;

  }


  &__ul{ 
    width: 40%;
    @media only screen and (max-width: 550px){
    width: 100%;

    }
  }





  &__li{ 
    width: inherit;
    opacity: 0;
    transition: all .1s ease-out;


    
  }

  &__link{
    font-size: 2em;
    font-weight: 600;
    width: inherit;
    padding: 1em 0;
    color: #f2f2f2;
    @media only screen and (max-width: 550px){
      padding: 0.6em 0;

    }

  }


  &__items{
    max-height: 0;
    width: inherit;
    transition: all .5s ease-out;
    transform: scaleY(0);
  }
  &__items.ver{
    height: initial;
    transform: scaleY(1);

    max-height: 100px;

  }


  &__item{
    width: inherit;
    font-size: .8em;
    padding: 0 0 10px 0 ;
    font-weight: 400;
    color: #999999;
    transition: all .5s ease-out;

  }

  &__item:hover{
    color: #f2f2f2;
  }

  &__imgs{
    width: 60%;
    height: 100%;
    position: relative;
    @media only screen and (max-width: 550px){
      display: none;
    }
  }

  &__img{
    position: absolute;
    padding: 0 13em 0 0;
    max-width: 800px;
    max-height: 600px;
    object-fit: contain;
    opacity: 0;
    transform: translateY(6em);
    transition: all .5s ease-out;
    z-index: 10;
    
  }
  
  
  &__img.ver{
    transition: all .5s ease-out;
    transform: translateY(0);

    opacity: 1;
    z-index: 100;

  }


  &__footer{
    color: #999999;

    width: 100%;
    height: 15%;
    max-width: 1400px;
    margin: auto;
    

    
  }



  &__info{

    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;   
    flex-flow: row wrap;
    
  }
  &__more{

    font-size: .8em;
    font-weight: 400;
    width: 30%;
    padding:0  20px 0 0;
    height: initial;

  }
  &__a{
    transition: all 0.5s ease;

    padding: 10px;
  }
  &__a:hover{
    color: #f2f2f2;
  }


  &__li, &__more{ 
    opacity: 0;
    transition: all .1s ease-out;
    
  }

  &__mega,
  &__footer{
    transition-delay: 2s;
    opacity: 0;
    // width: 0;
    transform: translateY(100px);
    transition: 
    all .5s ease-out .5s;
  }

  &__vh.active &__mega,
  &__vh.active &__li,
  &__vh.active &__more,
  &__vh.active &__footer{
    
    opacity: 1;
    transform: translateY(0px);

  }



}

.slid{
  
  width: 100%;
  height: 90vh;
  padding: 0 2em;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0 5em;

  @media only screen and (max-width: 550px){
    width: 100%;
    padding: 0 1em;
  }
  &__module{
    max-width: 1400px;
    margin: auto;
    position: relative;
    @media only screen and (max-width: 550px){
      // position: relative;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      height: inherit;
    }

  }


  &__module{

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  &__cont{
    max-width: 350px;
    min-height: 350px;
    width: 50%;
    overflow: hidden;

    padding: 200px 0;

   @media only screen and (max-width: 1024px){
      width: 100%;
      padding: 4em 0;
      // position: absolute;

    }

    &:nth-child(1){
     @media only screen and (max-width: 1024px){
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0;
      } 
      @media only screen and (max-width: 550px){
        bottom: -94px;
        right: 0;
        z-index: 100;
      }
      
    }
    

    &--img{
      height: 100vh;


      max-width: 700px;


      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: end;

     @media only screen and (max-width: 1024px){

        margin: auto;
      } 



    }

  }

 
  
  &__contnt{
    width: 100%;

    // min-height: 300px;

    min-height: 200px;
    display: flex;
    flex-flow: column;
    align-items: initial;
    justify-content: flex-end;
    @media only screen and (max-width: 505px){
      min-height: 100px;
      
    }

  }
  





  &__img{
    padding: 0 3em 60em 7em;
    @media only screen and (max-width: 1024px){
      padding: 6em 2em 60em 2em;
      max-width: 50vh;
    } 
    @media only screen and (max-width: 550px){
      padding: 1em 2em 60em 2em;

    }


  }

  &__ctr{

    height: 88px;
    width: 100%;
    padding: 0 5em;

    
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;


    background: white;
    background-color: #ffffff82;
    border-top: solid 2px #f2f2f2;
    @media only screen and (max-width: 550px){
      height: 60px;
      padding: 0 1em;
    }
  }


  &__author{
    font-size: 1em;
    margin: 0 0 1em 0;
    color: #999999;
    font-weight: 600;
    @media only screen and (max-width: 550px){
      font-size: .8em;
      margin: 0 0 .6em 0;
    }
  }
  &__btn{
    position: absolute;
    background-color: #000;
    top: 450px;
    left: 0;
    color: #fff;
    padding: 0.8em;
    font-weight: 600;

    opacity: 0;



    @media only screen and (max-width: 1024px){
      top: initial;
      bottom: 131px;

    }
    @media only screen and (max-width: 550px){

      bottom: 77px;
      z-index: 100;
    }
  }
  &__h2{
    font-size: 1.5em;
    font-weight: 900;
    margin: 0 0 1.7em;
    @media only screen and (max-width: 550px){
      margin: 0 0 0.7em;
      font-size: 1.4em;
    }
  }
  &__p{
    color: #999999;
    font-weight: 400;    
    @media only screen and (max-width: 550px){
      font-size: .8em;
    }
  }

  &__ul{

    max-width: 1400px;
    height: inherit;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

  }
  &__item{
    font-size: .8em;
    font-weight: 600;
    padding: 2.5vh 0 0;
    margin: 0 2em 0 0;

    cursor: pointer;
    position: relative;
    color: #999999;
    transition: all .5s ease-out;

    @media only screen and (max-width: 550px){
      font-size: .7em;
    }

  }
  &__item.ver{


    cursor: auto ;
    position: default ;
    color: #000000;


  }

  &__item::after{
    content: "";
  width: 0%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  
  transition: all .5s ease-out;
  opacity: 0;


  }
  &_item.ver::after{  

  

  }

  &__num{
    width: 100%;
  }
  &__txt{
    width: 100%;

    background-color: orange;
  }
}


// /////////////////// PREPARANDO JS /////////////

.slid__contnt{
  opacity: 0;
  transition: all .5s ease-out;
}
.slid__img{

  transition: transform .5s ease-out;
}
.slid__contnt.ver,
.slid__btn.ver{
  opacity: 1;
  z-index: 100;
}
.slid__item.ver::after{

  width: 100%;
  opacity: 1;

}
